<link rel="stylesheet" href="/stylesheets/index.css">

{{!-- modal --}}
{{!-- <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      ...
    </div>
  </div>
</div> --}}

<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search" method="GET">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">

          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button">
              <i class="fas fa-search"></i>
            </button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>

{{!-- list --}}
<div class="container mt-2">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">

      {{!-- create new one --}}
      <a class="btn btn-warning border-dark my-3" href="/new">Create</a>
      <div class="card-columns">
        {{!-- each loop --}}
        {{#each restaurants}}
        <div class="card ">
          {{!-- restaurants info.--}}
          <a href="/restaurants/{{this._id}}" class="text-secondary">
            <div class="mb-1">
              <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
              <div class="card-body px-3 py-2">
                <h6 class="card-title mb-1">{{this.name}}</h6>
                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i> {{this.category}}
                </div>
                <span class="badge badge-pill badge-danger font-weight-normal">
                  {{this.rating}}
                  <i class="fas fa-star fa-xs"></i>
                </span>
              </div>
            </div>
          </a>
          {{!--buttons --}}
          <div class="text-right m-2 d-flex">
            <a href="/edit/{{{this._id}}}" class="btn btn-sm btn-secondary border-dark mr-2">Edit</a>
            <form action="/delete/{{{this._id}}}" method="post">
              <button type="button" class="btn btn-sm btn-dark text-white" data-toggle="modal"
                data-target="#id{{this._id}}">
                Delete
              </button>

              {{!-- modal box --}}
              <div class="modal fade" id="id{{this._id}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">

                    <div class="modal-header">
                      <h5 class="modal-title text-danger" id="exampleModalLabel">刪除警告</h5>
                    </div>

                    <div class="modal-body text-left">
                      <p class="font-weight-bold">{{this.name}}</p>
                      <p>確定要<span class="font-weight-bold text-danger">刪除</span>此筆資料嗎?</p>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-light border-dark" data-dismiss="modal">Back</button>
                      <button type="submit" class="btn btn-danger border-dark">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
              {{!-- modal box --}}
            </form>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>